.main {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main__left {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./../src/assets/images/bg.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main__left-top {
  position: relative;
  height: 50%;
}

.main__left-timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.main__left-bottom {
  height: 50%;
}

.main__right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__right-list {
  width: 100%;
  padding: 20px;
}

.main__right-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.main__right-item.active {
  background-color: teal;
}

.main__item-number {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.main__item-price {
  font-size: 20px;
  font-weight: 300;
}

.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quiz__questions {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.quiz__answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}

.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
